<div class="card p-3 mb-3">
    <h4>Ajouter un produit</h4>
    <div class="row">
      <div class="col-md-2">
        <input type="text" [(ngModel)]="newProduct.code" placeholder="Code" class="form-control" />
      </div>
      <div class="col-md-2">
        <input type="text" [(ngModel)]="newProduct.name" placeholder="Nom" class="form-control" />
      </div>
      <div class="col-md-2">
        <input type="number" [(ngModel)]="newProduct.unitPrice" placeholder="Prix" class="form-control" />
      </div>
      <div class="col-md-2">
        <input type="number" [(ngModel)]="newProduct.quantityInStock" placeholder="Quantité" class="form-control" />
      </div>
      <div class="col-md-2">
        <button class="btn btn-success" (click)="addProduct()">Ajouter</button>
      </div>
    </div>
  </div>
  